.browsed_hostnames_panel {
  background: #f2f2f2;
  width: 30%;
  max-width: 30%;
  max-height: 99vh;
  padding: 5px;
  overflow: auto;
}

.browsed_hostname_wrapper {
 display: block;
 width: 100%;
 border: none;
}

.browsed_hostname {
 display: inline-block;
 width: 75%;
 padding: 5px;

}

.block_hostname_button {
  display: inline-block;
  background: darkred;
  width: 20%;
  text-align: center;
}

.browsed_hostname_header {
 display: block;
 text-align: center;
 font-weight: bold;
 padding: 5px;
}

.block_button {
 border: 2px black dotted;
}
