<!doctype html>

<head>
	<title>URL Admin</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<script type="text/javascript" src="{{url_for('static', filename='admin.js')}}"></script>
</head>
<body>
	<h1>Welcome Admin</h1>

	<div class = "browsed_hostnames_panel">
		<div class= "browsed_hostname_header">
			Browsed Hostnames
		</div>
		{% for hostname in hostnames %}
		<div class = "browsed_hostname_wrapper">
			<div class = "browsed_hostname">
				{{hostname}}
			</div>
			<form action = "/block_hostname" method = "POST" id = "block_hostname_{{loop.index}}">
				<input type = "hidden" id = "hostname" name = "hostname" value = "{{hostname}}"/>
				<div class = "block_hostname_button" onclick = "submit_form('block_hostname_{{loop.index}}');">BLOCK </div>
			</form>
		</div>
		{% endfor%}
	</div>
	<!--	<div class = "browsed_urls_panel">

	 </div>
	-->
</body>
