<!doctype html>

{% include "header.html" %}

<body>
  {% include "navbar.html" %}
	<h1>Welcome Admin</h1>

	<!-- Browsed-->
	<div class = "browsed_hostnames_panel">
		<div class= "browsed_hostname_header">
			Browsed Hostnames
		</div>
		{% for record in browsed %}
		<div class = "browsed_hostname_wrapper">
			{% set expand_shrink_id = ["expand_shrink_span_", record.host] | join('_') %}
			{% set browsed_urls_panel_id = ["browsed_urls_panel_", record.host] | join('_') %}
			<div class = "expand_shrink_record"
																id = "{{expand_shrink_id }}"
																onclick = "showOrHideUrls('{{expand_shrink_id}}', '{{browsed_urls_panel_id}}')">+</div>
			<div class = "browsed_hostname">
				{{record.host}}
			</div>
			<form action = "/ignore_hostname" method = "POST" id = "ignore_hostname_{{loop.index}}">
				<input type = "hidden" id = "hostname" name = "hostname" value = "{{record.host}}"/>
				<span class = "ignore_hostname_button" onclick = "submit_form('ignore_hostname_{{loop.index}}');">
					IGNORE
				</span>
			</form>
			<form action = "/block_hostname" method = "POST" id = "block_hostname_{{loop.index}}">
				<input type = "hidden" id = "hostname" name = "hostname" value = "{{record.host}}"/>
				<span class = "block_hostname_button" onclick = "submit_form('block_hostname_{{loop.index}}');">
					BLOCK
				</span>
			</form>
			{% set browsed_urls_panel_id = ["browsed_urls_panel_", record.host] | join('_') %}
			<div class = "browsed_urls_panel" id = "{{browsed_urls_panel_id}}">
				{% for group in record.group %}
				<div class = "browsed_url_wrapper">
					<span>{{group.url}}</span>
					<span>&nbsp;|&nbsp;</span>
					<span>{{group.accessed_on}}</span>
				</div>
				{% endfor %}
			  <div class = "browsed_record_separator"></div>
			</div>
		</div>
		{% endfor%}
	</div> <!-- End Browsed -->


	<script type = "text/javascript">
		(function(){
			<!-- Hide all browsed urls panels  -->
			var expand_shrink_spans = [... document.querySelectorAll('[class="browsed_urls_panel"]')];

      expand_shrink_spans.forEach(e => {
			  e.style.display = "none";
		  });
		})();
	</script>
  {% include "navbar-script.html" %}
</body>
