<script type = "text/javascript">
  const blocked = 'navbar-blocked';
	const browsed = 'navbar-browsed';
  const home = 'navbar-home';
  const ignored = 'navbar-ignored';
  function updateStyle(selected) {
	  const navbarItems = [blocked, browsed, home, ignored];
	  navbarItems.forEach(item => {
		  let itemObject = document.getElementById(item);
		  if(item === selected) {
			  itemObject.style.textDecoration= 'underline';
		  } else {
			  itemObject.style.textDecoration = null;
		  }
	  });
	}
  (function(){
	  const path = window.location.pathname;
	  let selected;
	  if(path === '/blocked') {
		  selected = blocked;
	  } else if (path === '/browsed') {
		  selected  = browsed;
		} else if(path === '/ignored'){
			selected = ignored;
		} else if (path === '/') {
		  selected = home;
	  } else {
		  console.error('Unknown navbar item selected');
	  }
		updateStyle(selected);
})();
</script>
